body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    background: url(../IMAGENES/fondos/fondo.jpg)no-repeat;
    background-size: cover;
}

header{
    font-family: Georgia,serif;
    padding: 0px;
    margin: 0px;
    background: url(../IMAGENES/logos/logo5.png) ;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 300px;
}

nav  {
    font-family: Georgia,serif;
    color: whitesmoke ;
    background-color:  #0d0d0d  ;
    padding: 0px;
}

P{
    color: whitesmoke;
}

a{
    text-decoration: none !important;
    display: block;
    font-family: Georgia,serif;
    color: whitesmoke ;
    padding: 10px 20px;
}

main{
    margin-bottom: 20%;
}

footer{
    font-family: Georgia,serif;
    color:whitesmoke ;
    background-color: #0d0d0d;
    padding: 1%;
    margin-top: 200px
}

h1{
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    margin-top: 15px;
    color: whitesmoke;
}

.Formulario{
    margin-top: 5%;
    display: inline-block;
    text-align: left;
    color: whitesmoke;
}

#Enviar{
    background-color:#0d0d0d ;
    color:whitesmoke;
    height: 30px;
}

iframe{
    margin-top: 30px;
}

.InfoBalas{
    display: inline-block;
    text-align:center;
    margin: 0px;
    border: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    background-color: #2e2c2c;
    margin-left:10% ;
    margin-right: 10%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;  
}

li{
    display: inline-block;
    position: relative;
}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color:#0d0d0d;
}

li.submenu:hover > ul {
    display: block;
}

li.submenu:hover {
    background-color:#0d0d0d;
}

ul ul li {
    display: block;
    width: 100%;
}

.cabezera{
    text-decoration: none !important;
    background-color: #161616;
}

.TierBalas{
    text-decoration: none !important;
    color: #0d0d0d;
    background-color: red; 
}

.TierBalas1{
    text-decoration: none !important;
    color: #0d0d0d;
    background-color:rgb(255, 94, 0); 
}

.TierBalas2{
    text-decoration: none !important;
    color: #0d0d0d;
    background-color: rgba(255, 153, 0, 0.952);
}

.TierBalas3{
    text-decoration: none !important;
    color: #0d0d0d;
    background-color: rgba(255, 208, 0, 0.952);
}

.TierBalas4{
    text-decoration: none !important;
    color: #0d0d0d;
    background-color:yellow;
}

.TierBalas5{
    text-decoration: none !important;
    color: #0d0d0d;
    background-color: greenyellow;
}

.TierBalas6{
    text-decoration: none !important;
    color: #0d0d0d;
    background-color: green;
}

#DivBalas{
    margin-left:20% ;
    margin-right: 20%;
}

section{
    padding-right: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

#Foto{
    height: 350px;
    width: 275px;
    margin-top: 1%;
    margin-right: 1%;
    padding-left: 3%;
    padding-right: 1%;
    padding-bottom: 0%;
    float: left;
}

#Foto1{
    height: 350px;
    width: 275px;
    margin-top: 1%;
    margin-right: 1%;
    padding-left: 3%;
    padding-right: 1%;
    padding-bottom: 0%;
    float: right;
}

#ParrafoDerecha{
    margin-right: 5%;
    margin-left: 5%;
}

#ParrafoIzquierda{
    margin-right: 5%;
    margin-left: 5%;
}

.DivTraders{
    color: whitesmoke; 
}

#ImagenesMapas{
    margin-top: 50px;
    height: 800px;
    width: 1100px;
}

.ParrafoMapas{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    color: whitesmoke;
}

.gallery, .gallery2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.ImgGaleria{
    width: 200px;
    height: 200px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
}

.ImgGaleria:hover {
    transform: scale(1.1);
}

.Headset1{
    width: 100%;
    text-align: center;
}
